@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@model WebApplication.Models.SubscribeModel
<h2>HELLO: @Model.UserName</h2>

<address>
    My Company Address
</address>