@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model WebApplication.Models.StoreModel
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("ItemActions", "Home", FormMethod.Post))
    {
        <button class="w-10 btn btn-lg btn-primary" formaction="StorePurchaseHistory" type="submit">Get Store's Purchase History</button>

        <button class="w-10 btn btn-lg btn-primary" type="submit" formaction="GetStoreInformation">Appoint Officials</button>
        
        <button class="w-10 btn btn-lg btn-primary" type="submit" formaction="GetStoreInformation">View Officials</button>

    }
</div>
</body>
</html>