@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model WebApplication.Models.StoreModel
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="getstoreinformationdiv">
    @using (Html.BeginForm("ItemActions", "Home", FormMethod.Post))
    {
        <button style="margin-top: 20px" class="btn btn-outline-primary" formaction="StorePurchaseHistory" type="submit">Get Store's Purchase History</button>

        <button style="margin-top: 20px" class="btn btn-outline-primary" type="submit" formaction="AppointOfficials">Appoint Officials</button>
        
        <button style="margin-top: 20px" class="btn btn-outline-primary" type="submit" formaction="ViewOfficials">View Officials</button>

    }
</div>
</body>
</html>
@if (TempData["alert"] != null)
{
    <script type="text/javascript">  
            window.onload = function() {  
                alert("@TempData["alert"]");  
            };  
        </script>  
}