@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model WebApplication.Models.StoreModel
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="getstoreinformationdiv">
    @using (Html.BeginForm("ItemActions", "Home", FormMethod.Post))
    {
        <button style="margin-top: 20px" class="btn btn-outline-primary" formaction="StorePurchaseHistory" type="submit">Get Store's Purchase History</button>

        <button style="margin-top: 20px" class="btn btn-outline-primary" type="submit" formaction="AppointOfficials">Appoint Officials</button>
        
        <button style="margin-top: 20px" class="btn btn-outline-primary" type="submit" formaction="ViewOfficials">View Officials</button>

    }
</div>
</body>
</html>
@if (ViewBag.Alert != null)
{
    <script type="text/javascript">
    

            window.onload = function() {
                alert("@ViewBag.Alert");
            };
    </script>

}

@section Scripts {
    <script src="~/js/signalr.js"></script>

    <script>
        let connection = new signalR.HubConnectionBuilder().withUrl("/notifications").build();
     
        connection.on('sendToUser', data => {
             alert(data)
        });
        
        connection.on('save', data => {
            alert(data)
        });
     
        connection.start().then(() => {
            console.log("connection started");
            connection.invoke('GetConnectionId').then(function (connectionId) {
                alert(connectionId);
            });
        });
     
        /*function sendMessage() {
          var msg = document.getElementById("txtMessage").value;
          connection.invoke('send', msg);
        }*/
      </script>
}