@{
    ViewData["Title"] = "Item Review";
}
<!DOCTYPE html>

<html>
<body>
    @model WebApplication.Models.ReviewModel
    <div class="itemreviewdiv">
        @using (Html.BeginForm("TryReviewItem", "Home", FormMethod.Post))
        {

            @Html.TextBoxFor(model => model.review,new { placeholder = "Your review...",@class="inputclasslogin" })
            @Html.ValidationMessageFor(model => model.review)
            <button class="btn btn-outline-primary" type="submit">Review Item</button>
        }
    </div>
</body>
</html>

@if (ViewBag.Alert != null)
{
    <script type="text/javascript">

            window.onload = function() {
                alert("@ViewBag.Alert");
            };
    </script>

} 