<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@model WebApplication.Models.UserModel
<div class="logoutdiv">
    @using (Html.BeginForm("TryLogout", "Home", FormMethod.Post))
    {
        <button class="btn btn-outline-primary" type="submit">Logout</button>
    }
</div>
</body>
</html>

@if (TempData["alert"] != null)  
{  
    <script type="text/javascript">  
                  window.onload = function() {  
                      alert("@TempData["alert"]");  
                  };  
          </script>  
} 