@using Microsoft.AspNetCore.Http
@using WSEP212.DomainLayer
@using WSEP212.DomainLayer.SystemLoggers
@using WSEP212.ServiceLayer
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@model WebApplication.Models.PurchaseTypesModel
<div class="purchasepredicatediv">
    @try
    {
        @using (Html.BeginForm("ItemActions", "Home", FormMethod.Post))
        {
            string name = HttpContextAccessor.HttpContext.Session.GetString("_Name");
            int store = (int) HttpContextAccessor.HttpContext.Session.GetInt32("_StoreID");
            @if (SystemController.Instance.hasPermission(name, store, Permissions.StorePoliciesManagement).getTag())
            {
                string[] types = HttpContextAccessor.HttpContext.Session.GetObject<string[]>("storepurchasetypes");
                @Html.DropDownListFor(model => model.purchaseType, new SelectList(types.OfType<string>().ToList()), new {@class = "custom-select"})
                ;

                <button class="btn btn-outline-primary" formaction="TryRemovePurchaseType" type="submit">Remove Purchase Type</button>

                string[] types2 = HttpContextAccessor.HttpContext.Session.GetObject<string[]>("purchasetypes");
                @Html.DropDownListFor(model => model.purchaseType2, new SelectList(types2.OfType<string>().ToList()), new {@class = "custom-select"})
                ;

                <button class="btn btn-outline-primary" formaction="TryAddPurchaseType" type="submit">Add Purchase Type</button>
            }
        }
    }
    catch (Exception e)
    {
         var msg = e.Message + " ";
         var inner = e.InnerException;
         if (inner != null)
         {
             msg += inner.Message;
         }
         Logger.Instance.writeErrorEventToLog(msg);
    }
    
</div>
</body>
</html>

@if (TempData["alert"] != null)
{
    <script type="text/javascript">  
            window.onload = function() {  
                alert("@TempData["alert"]");  
            };  
        </script>  
}