@using Microsoft.AspNetCore.Http
@using System.Collections.Concurrent;
@using System;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Purchase History";
}
<!DOCTYPE html>

<html>
<body>
    @model WebApplication.Models.PurchaseModel
    <div class="purchasehistorydiv">
        @using (Html.BeginForm("TryShowPurchaseHistory", "Home", FormMethod.Post))
        {
            <label for="storesList">Purchase history</label>
            string purchases = HttpContextAccessor.HttpContext.Session.GetString("_History");
            string[] singleItems = purchases.Split(";");
            @Html.DropDownListFor(model => model.itemInfo, new SelectList(singleItems.OfType<string>().ToList()), new {@class = "custom-select"});
            <button style="margin-top: 20px" class="btn btn-outline-primary" type="submit">Add Review</button>
        }
    </div>
</body>
</html>

@if (TempData["Alert"] != null)  
{  
    <script type="text/javascript">  
                  window.onload = function() {  
                      alert("@TempData["Alert"]");  
                  };  
          </script>  
} 

@section Scripts {
    <script src="~/js/signalr.js"></script>

    <script>
        let connection = new signalR.HubConnectionBuilder().withUrl("/notifications").build();
     
        connection.on('sendToUser', data => {
             alert(data)
        });
        
        connection.start().then(() => {
            console.log("connection started");
            connection.invoke('GetConnectionId').then(function (connectionId) {
                //alert(connectionId);
            });
        });
      </script>
}