@using Microsoft.AspNetCore.Http
@using WSEP212.ConcurrentLinkedList
@using WSEP212.DomainLayer
@using System.Collections.Concurrent
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="showreviewsdiv">
    @model WebApplication.Models.ShowReviewsModel
    @Model.reviewsStrings
</div>

</body>
</html>
@if (ViewBag.Alert != null)
{
    <script type="text/javascript">
    

            window.onload = function() {
                alert("@ViewBag.Alert");
            };
    </script>

}

@section Scripts {
    <script src="~/js/signalr.js"></script>

    <script>
        let connection = new signalR.HubConnectionBuilder().withUrl("/notifications").build();
     
        connection.on('sendToUser', data => {
             alert(data)
        });
        
        connection.on('save', data => {
            alert(data)
        });
     
        connection.start().then(() => {
            console.log("connection started");
            connection.invoke('GetConnectionId').then(function (connectionId) {
                alert(connectionId);
            });
        });
     
        /*function sendMessage() {
          var msg = document.getElementById("txtMessage").value;
          connection.invoke('send', msg);
        }*/
      </script>
}