@using Microsoft.AspNetCore.Http
@using System.Collections.Concurrent;
@using System;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Users Purchase History";
}
<!DOCTYPE html>

<html>
<body>
    @model WebApplication.Models.PurchaseModel
    <div class="storespurchasehistorydiv">
        @using (Html.BeginForm("TryShowPurchaseHistory", "Home", FormMethod.Post))
        {
            string purchases = HttpContextAccessor.HttpContext.Session.GetString("Stores_history");
            <h6>@purchases</h6>
        }
    </div>
</body>
</html>

@if (ViewBag.Alert != null)
{
    <script type="text/javascript">

            window.onload = function() {
                alert("@ViewBag.Alert");
            };
    </script>

} 