@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model WebApplication.Models.StoreModel
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="openstoreinstoreactionsdiv">
    <input class="btn btn-outline-primary btn-lg" type="button" onclick="location.href='/Home/OpenStore';" value="Open Store" />
</div>
<div class="storeactionsdivadd">
    @using (Html.BeginForm("ItemActions", "Home", FormMethod.Post))
    {
        <label for="storesList">Stores List</label>
        
            int[] StoresList = HttpContextAccessor.HttpContext.Session.GetObject<int[]>("stores"); 
            @Html.DropDownListFor(model => model.storeID, new SelectList(StoresList.OfType<int>().ToList()), new {@class = "custom-select"});
        
        
        
        <button style="margin-top: 20px" class="btn btn-outline-primary" formaction="ItemActions" type="submit">See Items In Store</button>

        <button style="margin-top: 20px" class="btn btn-outline-primary" type="submit" formaction="GetStoreInformation">Get Store Information</button>
    }
</div>
</body>
</html>