@using Microsoft.AspNetCore.Http
@using System.Collections.Concurrent;
@using System;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Users Purchase History";
}
<!DOCTYPE html>

<html>
<body>
    @model WebApplication.Models.PurchaseModel
    <div class="userpurchasehistorydiv">
        @using (Html.BeginForm("TryShowPurchaseHistory", "Home", FormMethod.Post))
        {
            string purchases = HttpContextAccessor.HttpContext.Session.GetString("users_history");
            <h6>@purchases</h6>
        }
    </div>
</body>
</html>

@if (TempData["Alert"] != null)  
{  
    <script type="text/javascript">  
                  window.onload = function() {  
                      alert("@TempData["Alert"]");  
                  };  
          </script>  
} 

@section Scripts {
    <script src="~/js/signalr.js"></script>

    <script>
        let connection = new signalR.HubConnectionBuilder().withUrl("/notifications").build();
     
        connection.on('sendToUser', data => {
             alert(data)
        });
        
        connection.start().then(() => {
            console.log("connection started");
            connection.invoke('GetConnectionId').then(function (connectionId) {
                //alert(connectionId);
            });
        });
      </script>
}