# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WSEP212.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ec200\RiderProjects\WSEP212-18B\WSEP212\.idea\.idea.WSEP212\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
