<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="ourdb"
             connectionString="Server=tcp:wsep212b.database.windows.net,1433;Database=wsep212B;User ID=wsep212@wsep212B;Password=Ab123456;Connection Timeout=30;Trusted_Connection=False;Encrypt=True;PersistSecurityInfo=True;MultipleActiveResultSets=True;"
        />
    </connectionStrings>
</configuration>