/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}
*/

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}
h1{
  font-size: 5.625rem;

  font-family: 'Fira Sans', sans-serif;
  margin: 50px auto 0 auto;
  color: #838383;
}
h2{
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  color: #838383;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
p{
  line-height: 2;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #eaf8ff;
}

/*
.indexdiv{
  background-color: #fccbcb;
  position: relative;
  padding-top: 100px;
}*/
h3{
  font-family: 'Fira Sans', sans-serif;
  color: #e37c7c;
}
.openstorediv{
  text-align: left;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.openstoreinstoreactionsdiv{
  text-align: left;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.storeactionsdivadd{
  text-align: left;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.storeactionsdivremove{
  text-align: left;
  margin-bottom: 60px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /*width: 100%;*/
  border: 2px solid #aba2a2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input:focus {
  border: 3px solid #535252;
}
.inputclassopenstore{
  margin: 8px 0 10px;
  padding: 12px 20px 15px;
  width:300px;
  height:35px
}
.inputclassindex{
  margin: 8px 0 10px;
  padding: 12px 20px 15px;
  width:300px;
  height:35px
}
.inputclasslogin{
  margin: 8px 0 10px;
  padding: 12px 20px 15px;
  width:300px;
  height:35px
}

.custom-select {
  position: relative;
  font-family: 'Fira Sans', sans-serif;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #535252;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #84b3e7;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}